

= form_tag user_path, :method => :put do

    = label :user, :user_income, 'Your Income'
    = text_field :user, :user_income
    
    = label :user, :user_expense, 'Your Expense'
    = text_field :user, :user_expense
    

    = submit_tag 'Update my budget'
    
