%div#header
    %h1#appName Sign Up
    
= form_tag users_path(@users), :method => :post do

    = label :user, :fname, 'First Name'
    = text_field :user, :fname
    
    = label :user, :lname, 'Last Name'
    = text_field :user, :lname    
    
    = label :user, :email, 'Email Address'
    = text_field :user, :email   

    = label :user, :password, 'Password'
    = text_field :user, :password   
    
    = label :user, :income, "Income"
    = text_field :user, :income
    
    = label :user, :expense, "Expense"
    = text_field :user, :expense  
    
    = submit_tag 'Get Started'
