%div#header
    %h1#appName Sign Up
    
= form_tag users_path(@users), :method => :post do

    = label :user, :fname, 'First Name'
    = text_field :user, :fname
    
    = label :user, :lname, 'Last Name'
    = text_field :user, :lname    
    
    = label :user, :email, 'Email Address'
    = text_field :user, :email   
    
    = label :user, :username, 'Username'
    = text_field :user, :username  

    = label :user, :password, 'Password'
    = text_field :user, :password     
    
    = submit_tag 'Get Started'
